<%- include('../partials/header') %>

<h1>Edit Your Beauty Secret Here</h1>
<form action="/ <%= beauties %> ?_method=PUT " method="POST">
<input type="text" name="" value="<%= beauties.text%>">
<button type="submit"> Save Secret</button>
</form>





<%- include('../partials/footer') %>