<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Beauty Secrets</title>
</head>
<body>
    <h1>Here are your Beauty Secrets</h1>
    <table>
        <thead>
            <th>Product</th>
            <th>Price</th>
            <th>Location</th>
        </thead>
        <tbody>
            <% beauties.foreach(function(b) {%> 
                <tr>
                    <td><%= b.product %> </td>
                    <td><%= b.price %> </td>
                    <td><%= b.location %> </td>
                
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>