<%- include('../partials/header') %>
<div id="new-beauty">
    <img src="/images/list-item-img.jpg" alt="">
    <form class="list-items"action="/beauties" method="POST">
        <label>Brand
            <input type="text" name="brandName">
        </label>
        <label>Product
            <input type="text" name="productName">
        </label>
        <label> Category
            <select name="category">
                <option value="Oil Based Cleanser">Oil Based Cleanser</option>
                <option value="Water Based Cleanser">Water Based Cleanser</option>
                <option value="Toners/Serums">Toners/Serums</option>
                <option value="Moisturizer">Moisturizer</option>
                <option value="Face and Lip Mask">Face and Lip Mask</option>
            </select>
        </label>
        <label>Price: $
            <input type="text" name="price">
        </label>
        <label>Store:
            <select name="location">
                <option value="CVS">CVS</option>
                <option value="Online Retailer">Online Retailer</option>
                <option value="Riley Rose">Riley Rose</option>
                <option value="Sephora">Sephora</option>
                <option value="Target">Target</option>
                <option value="Ulta">Ulta</option>
                <option value="Walgreens">Walgreens</option>
                <option value="Walmart">Walmart</option>
            </select>
        </label>
        <label>
            <input type="text" name="image" id="img">
        </label>
        <input type="submit" value="Let's go Beautiful">
    </form>
</div>
<%- include('../partials/footer') %>