<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Secrets</title>
</head>
<body>
    <h1>Share Your Beauty Sectets</h1>
    <h2>Enter a new Product</h2>
    <form action="/beauties" method="POST"></form>
    <label>Product:
        <input type="text" name="product">
    </label>
    <label>Price:
        <input type="text" name="price">
    </label>
    <label>Location:
        <input type="text" name="location">
    </label>
    <input type="submit" value="Add">
</body>
</html>