<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <title><%= title %> </title>
</head>
<body>
    <nav id="nav">
        <a class="link" href="/beauties" <%= title === 'Your Beauty Secrets' ? 'class="active"' : '' %>> Your Beauty Secrets</a>
        <a class="link" href="/beauties/new" <%= title === 'New Beauty Secret'? 'class="active"' : ''  %>> New Beauty Secret</a>
    </nav>
</body>
<main>
<h1><%= title %> </h1> 