<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">
    <title><%= title %> </title>
</head>

<body>
    <nav id="nav">
        <a class="link" href="/">Home</a>
        <a class="link" href="/beauties" <%= title === 'Beauty Secrets' ? 'class="active"' : '' %>> Beauty Secrets</a>
        <a class="link" href="/beauties/new" <%= title === 'New Secret'? 'class="active"' : ''  %>> New Secret</a>
    </nav>
</body>
<main>
    <div class="title">
        <h1><%= title %> </h1>
    </div>