<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Secrets</title>
</head>
<body>
    <nav>
        <a href="/beauties/new"><%= title === 'Add Secret' %> Add a new Secret</a>
        <a href="/beauies"><%= title === 'Your Secrets' %> YourSecrets</a>
    </nav>
</body>
</html>