:root {
    --lightpink-color: #ffd1f2;
    --peach-color: #fcc29d;
    --bright-fuscia-color: #ff47d4;
    --deep-fuscia-color: #cb2b92;
    --pale-color-1: #edcad8;
    --pale-color-2: #f7eaf7;
    --pale-color-3: #f6eaeb;
}

body{
    text-align: center;
    
}

h1{
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
}

h1,
h2 {
    color: var(--deep-fuscia-color);
    text-align: center;
}
#main-page{
    margin:  200px;
    padding: 50px;
    border: 9px solid var(--pale-color-1);
    border-radius: 10px;
    background-image: url('/images/homepage.png?raw=true') repeat-n;
    


}

.get-started-button{
    border: 5px solid var(--pale-color-2);
    background-color: var(--pale-color-2);
    border-radius: 5px;
    width: 200px;
    padding: 0 5px 0px 5px;
    text-decoration: none;
    color: var(--deep-fuscia-color);
}

.get-started-button:hover {
    background-color: var(--pale-color-3);
}
