:root {
    --lightpink-color: #ffd1f2;
    --peach-color: #fcc29d;
    --bright-fuscia-color: #ff47d4;
    --deep-fuscia-color: #cb2b92;
    --pale-color-1: #edcad8;
    --pale-color-2: #f7eaf7;
    --pale-color-3: #f6eaeb;
}


body {
    background-color: var;
    margin: 0;
    height: 100vh;
}

#nav {
    font-size: 35px;
    background-color: var(--pale-color-3);
    color: black;
    padding: 50px;
    display: flex;
    

}

.link {
    display: flex;
    color: var(--deep-fuscia-color);
    text-decoration: none;
    
}

h1{
    font-size: 45px;
}

h1,
h2 {
    color: var(--deep-fuscia-color);
    text-align: center;
}

.product-container {
    display: flex;
    flex-direction: row;

}

.show-page {
    border: 8px solid var(--pale-color-3);
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 20px;
    width: 250px;
}

.brandName {
    font-weight: bold;
    font-size: 30px;
}

#product-description {
    font-size: 20px;
}

#new.beauty{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


